{% extends "base.html" %}
{% block body %}
<form action="/validate">
    <label>URL:</label><input name="url" /> <input type="submit" />
</form>
<h2>Examples</h2>
<ul>
    <li><a href="/validate?url=http://code.jquery.com/jquery-1.9.1.min.js">jQuery</a></li>
    <li><a href="/validate?url=http://d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js">Raven.js</a></li>
    <li><a href="/validate?url=http://getsentry-cdn.s3.amazonaws.com/test/raven.min.js">Raven.js (with closure compiler)</a></li>
</ul>
{% endblock %}
