{% extends "base.html" %}
{% block title %}SourceMap Validator{% endblock %}
{% block styles %}
{{ super() }}
<style>
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.container {
    width: 750px;
}
.social {
    margin: 30px auto 0;
    width: 480px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.social > p {
    padding-top: 10px;
}
</style>
{% endblock %}
{% block body %}
<div class="jumbotron">
<h1>SourceMap Validator</h1>
<p class="lead">Sourcemaps are hard. Make sure you did it right.</p>
<form action="/validate" class="form-inline">
    <div class="input-append">
        <input type="text" class="span6" name="url" placeholder="http://code.jquery.com/jquery-1.9.1.min.js" />
        <button type="submit" class="btn">Validate</button>
    </div>
</form>
</div>
<h2>Examples</h2>
<ul>
    <li><a href="/validate?url=http%3A%2F%2Fcode.jquery.com%2Fjquery-1.9.1.min.js">jQuery</a></li>
    <li><a href="/validate?url=http%3A%2F%2Fdocumentcloud.github.io%2Fbackbone%2Fbackbone-min.js">Backbone.js</a></li>
    <li><a href="/validate?url=http%3A%2F%2Fd3nslu0hdya83q.cloudfront.net%2Fdist%2F1.0%2Fraven.min.js">Raven.js</a></li>
    <li><a href="/validate?url=http%3A%2F%2Fgetsentry-cdn.s3.amazonaws.com%2Ftest%2Fraven.min.js">Raven.js (with closure compiler)</a></li>
</ul>

<div class="row social">
<iframe src="http://ghbtns.com/github-btn.html?user=mattrobenolt&repo=sourcemap-validator&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
<iframe src="http://ghbtns.com/github-btn.html?user=mattrobenolt&repo=sourcemap-validator&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
  <p>A <a href="https://github.com/mattrobenolt">Matt Robenolt</a> project.</p>
</div>
{% endblock %}
