{% extends "base.html" %}
{% block title %}Libraries - SourceMap Validator{% endblock %}

{% block body %}
<h1>Does it support SourceMaps yet?</h1>
<p>The following libraries are currated from the popular public CDNs. <a href="/">Try out your own!</a></p>
<div class="progress">
  <div class="bar bar-success" data-toggle="tooltip" data-placement="bottom" title="0"></div>
  <div class="bar bar-danger" data-toggle="tooltip" data-placement="bottom" title="0"></div>
</div>
<p id="loading"><em>Fetching list of libraries...</em></p>
<div id="body"></div>
{% raw %}
<script id="table-template" type="text/x-handlebars-template">
  <h3><a href="{{url}}">{{title}} <i class="icon-share"></i></a></h3>
  <table class="table">
  <thead>
    <tr>
      <th class="header">Name</th>
      <th class="header">URL</th>
      <th class="header">Status</th>
    </tr>
  </thead>
  {{#each libs}}
    <tr id="lib_{{this.id}}">
      <td>{{this.[0]}}</td>
      <td>{{this.[1]}}</td>
      <td class="status">...</td>
    <tr>
  {{/each}}
  </table>
</script>
{% endraw %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.5.2/jquery.tablesorter.min.js"></script>
<script>
$(function() {
  $.getJSON('/libraries.json', function(data) {
    var template = Handlebars.compile($('#table-template').html()),
        $body = $('#body'), $success = $('.bar-success'), $fail = $('.bar-danger'),
        id = 0, urls = [], i, j, group,
        successes = 0, failures = 0, total = 0;

    $('#loading').remove();

    for (i = 0; i<data.length; i++) {
      group = data[i];
      for (j = 0; j < group.libs.length; j++) {
        urls[id] = group.libs[j][1];
        group.libs[j].id = id;
        id++;
      }
      $body.append(template(data[i]));
    }

    total = urls.length;

    // lol, here we go
    for (i = 0; i < total; i++) {
      (function(idx, url) {
        var $row = $('#lib_' + idx),
            $status = $row.find('td.status'),
            encoded = encodeURIComponent(url);
        $.getJSON('/validate.json?url=' + encoded, function(data) {
          if ('error' in data) {
            $row.addClass('error');
            $status.html('<strong><a href="/validate?url=' + encoded + '" title="View Report">Fail</a></strong>');
            failures++;
          } else {
            $row.addClass('success');
            $status.html('<strong><a href="/validate?url=' + encoded + '" title="View Report">Pass</a></strong>');
            successes++;
          }
          updateStats();
        });
      }(i, urls[i]));
    }

    function updateStats() {
      $success.css('width', (successes/total * 100) + '%').attr('title', successes);
      $fail.css('width', (failures/total * 100) + '%').attr('title', failures);
      if (successes + failures === total) {
        $success.tooltip();
        $fail.tooltip();
        $('table').tablesorter();
      }
    }
  });
});
</script>
{% endblock %}
