{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="/static/css/prettyprint.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h2>Errors</h2>
{% for error in errors %}
<section>
  <h3>In <code>{{ error.token.src }}</code>: Expected <code>{{ error.token.name }}</code>, but found <code>{{ error.expected }}</code></h3>
    <pre class="prettyprint linenums"><ol class="linenums" start="{{ error.token.src_line - 3 }}">{% for line in error.pre %}<li>{{ line }}</li>{% endfor %}<li class="culprit"><span>{{ error.line }}</span></li>{% for line in error.post %}<li>{{ line }}</li>{% endfor %}</ol></pre>
</section>
{% endfor %}
{% endblock %}
