{% extends "base.html" %}
{% block title %}{{ url }} - SourceMap Validator{% endblock %}
{% block styles %}
{{ super() }}
<link href="/static/css/prettyprint.css" rel="stylesheet" />
<style>
  .nav-tabs .badge {
    float: right;
  }
  .nav-tabs {
    top: 0;
    margin-top: 20px;
  }

  .nav-stacked > .active > a {
    /*color: #fff;*/
    background-color: #eee;
  }

  #header { margin: 10px 0 0;}
</style>
{% endblock %}

{% block body %}
<div id="header" class="row">
  <h1>Report</h1>
  <h3><a href="{{ url }}" target="_blank">{{ url }} <i class="icon-share"></i></a></h3>
  {% if report.errors %}
  <div class="alert alert-error"><strong>Fail.</strong> Check the <a href="#errors">errors</a> below. <i class="icon-thumbs-down"></i></div>
  {% else %}
  <div class="alert alert-success"><strong>Pass.</strong> Everything looks good! <i class="icon-thumbs-up"></i></div>
  {% endif %}
</div>

<div class="row">
  <div id="nav" class="span2">
    <ul class="nav nav-tabs nav-stacked affix-top span2" data-spy="affix" data-offset-top="175">
      <li><a href="#sources">Sources <span class="badge badge-info">{{ sources|length }}</span></a></li>
      <li><a href="#errors">Errors <span class="badge badge-important">{{ report.errors|length }}</span></a></li>
      <li><a href="#warnings">Warnings <span class="badge badge-warning">{{ report.warnings|length }}</span></a></li>
    </ul>
  </div>

  <div class="span10">
    <h2 id="sources">Sources <span class="badge badge-info">{{ sources|length }}</span></h2>
    {% for source in sources %}
    <li><a href="{{ source }}" target="_blank">{{ source }} <i class="icon-share"></i></a></li>
    {% endfor %}

    <h2 id="errors">Errors <span class="badge badge-important">{{ report.errors|length }}</span></h2>
    {% for error in report.errors %}
      {% if error.message %}
      <h4>{{ error.message }}</h4>
      {% for resolution in error.resolutions %}
      <li>{{ resolution }}</li>
      {% endfor %}
      {% else %}
      <h4>In <code>{{ error.token.src }}</code>: Expected <code>{{ error.token.name }}</code>, but found <code>{{ error.expected }}</code></h4>
      <pre class="prettyprint linenums"><ol class="linenums" start="{{ error.token.src_line - 3 }}">{% for line in error.pre %}<li>{{ line }}</li>{% endfor %}<li class="culprit"><span>{{ error.line }}</span></li>{% for line in error.post %}<li>{{ line }}</li>{% endfor %}</ol></pre>
      {% endif %}
    {% else %}
    No errors!
    {% endfor %}

    <h2 id="warnings">Warnings <span class="badge badge-warning">{{ report.warnings|length }}</span></h2>
    {% for error in report.warnings %}
      <h4>In <code>{{ error.token.src }}</code>: Expected <code>{{ error.token.name }}</code>, but found <code>{{ error.expected }}</code></h4>
      <pre class="prettyprint linenums"><ol class="linenums" start="{{ error.token.src_line - 3 }}">{% for line in error.pre %}<li>{{ line }}</li>{% endfor %}<li class="culprit"><span>{{ error.line }}</span></li>{% for line in error.post %}<li>{{ line }}</li>{% endfor %}</ol></pre>
    {% endfor %}
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
